<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Upload and Download</title>
</head>
<body>
    <form action="{% url 'index' %}" method="post" name="registeForm" onsubmit="return check()" enctype="multipart/form-data">
        {% csrf_token %}
        <p>
            <label for="fileToUpload">File:</label><input type="file" name="fileToUpload" id="fileToUpload">
        </p>
        <input type="submit" value="submit"/>
    </form>
    {% for fileName in  filesNameList%}
        <p>
            <a href="{% url 'download' fileName%}" name="fileToDownload">{{fileName}}</a>
        </p>
    {% endfor %}
</body>